
.speech{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  
  }
  .direction{
    color: red;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
  
  }
  .name{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
  
  }
  .direction :hover{
    background-color: cadetblue;
    color: black;
  
  }
  .aunt{
    color: maroon;
    font-size: 19px;
  
  }

  .mary{
    color: goldenrod;
    font-size: 19px;
  }
  table, th, td {
    border: 1px solid;
    color: magenta;
    text-align: center;
    margin: auto;
    padding: 40px;
  
  
  
  }
  tr:nth-child(even) {
    background-color: darkgreen;
  }
 h5{
    color: blueviolet;
 }
 .aunt:hover{
  text-shadow: 1px 1px 1px indigo;
  border: darkblue;
  background-color: beige;
 }
 .mary:hover{
  text-shadow: 1px 1px 1px lightblue;
  border: brown;
  background-color: lightcoral;
 }
  
  
  
  
  